doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/js/lib/jquery-ui-1.10.3/themes/base/jquery.ui.all.css')
    link(rel='stylesheet', href='/stylesheets/demos.css')
    script(data-main='js/app', type='text/javascript', src='js/lib/require.js')
  body
    block content